@font-face {
	font-family: "CircularStd-Black";
	src: url('../fonts/CircularStd-Black.woff') format('woff'), url('../fonts/CircularStd-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
 }

 @font-face {
	font-family: "CircularStd-Bold";
	src: url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
 }

 @font-face {
	font-family: "CircularStd-Medium";
	src: url('../fonts/CircularStd-Medium.woff') format('woff'), url('../fonts/CircularStd-Medium.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
 }

 @font-face {
	font-family: "CircularStd-Book";
	src: url('../fonts/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd-Book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
 }

.wrapper{
	min-height: 100%;
	overflow: hidden;
}

.content{
	font-family: "CircularStd-Book";
	font-size: 18px;
	font-style: normal;
	max-width: 1050px;
	margin: 0 auto;
	
}

.title{
	font-family: "CircularStd-Medium";
	font-size: 65px;
	font-weight: 400;
	text-align: center;
	margin-top: 140px;
	margin-bottom: 20px;
	color: #313131;
}

.text-up{
	font-family: "CircularStd-Medium";
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	font-weight: 400;
   	max-width: 750px;
   	margin: 0 auto 224px auto;
	color: #5F5F5F;
}

.title-2{
	font-family: "CircularStd-Bold";
	font-weight: 700;
	font-size: 34px;
	color: #313131;
	margin-bottom: 20px;
}

.text-midle{
	font-family: "CircularStd-Book";
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 125px;
	max-width: 508px;
	color: #5F5F5F;
}

.text-bottom {
	font-family: "CircularStd-Bold";
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 5px;
	color:#313131;
}

.text-down {
	font-family: "CircularStd-Book";
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 20px;
	color: #B8B8B8;
}

.img{
	margin-bottom: 50px;
}